parameters:
    level: max
    paths:
        - src
        - tests/bin
        - tests/src
        - tests/config
        - tests/public
        - tests/tests
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/src/Factory
    ignoreErrors:
        -
            identifier: return.unusedType
            path: tests/src/ApiState/*
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
